.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
}

.title {
  text-align: center;
  font-size: 30px;
  color: deeppink;
}

.shipcard {
  display: flex;
  font-size: medium;
 flex-direction: column;
 justify-content: center;
  height: 300px;
  width: 300px;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

video {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

starshipname {
  color:black
}